In [5]:
people = {
    "first": ["Sueda", 'Jane', 'John'], 
    "last": ["Ciftci", 'ozg', 'Doe'], 
    "email": ["sueda@gmail.com", 'edasu@email.com', 'doee@email.com']
}

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
filt = (df['last'] == 'Doe')
filt

0    False
1    False
2     True
Name: last, dtype: bool

In [9]:
df[filt]

  first last           email
2  John  Doe  doee@email.com

In [10]:
df.loc[filt]
#it gives same thing because .log is looks up rows, colums by labels ki burda Doe

  first last           email
2  John  Doe  doee@email.com

In [11]:
df.loc[filt, 'email']
#choosing to use .loc we can also with 2. value we can get labeled columns
#for .loc forst value is row we want second value is a columns that we want

2    doee@email.com
Name: email, dtype: object

In [9]:
filt1 = (df['last'] == 'Doe') & (df['first'] == 'John')

In [10]:
df.loc[filt, 'email']

2    doee@email.com
Name: email, dtype: object