In [1]:
people = {
    "first": ["Sueda", 'Jane', 'John'], 
    "last": ["Ciftci", 'ozg', 'Doe'], 
    "email": ["sueda@gmail.com", 'edasu@email.com', 'doee@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [5]:
df['email']

0    sueda@gmail.com
1    edasu@email.com
2     doee@email.com
Name: email, dtype: object

In [7]:
df.set_index('email')

                 first    last
email
sueda@gmail.com  Sueda  Ciftci
edasu@email.com   Jane     ozg
doee@email.com    John     Doe

In [8]:
df
#data set index didn't change but if we do

   first    last            email
0  Sueda  Ciftci  sueda@gmail.com
1   Jane     ozg  edasu@email.com
2   John     Doe   doee@email.com

In [10]:
df.set_index('email', inplace=True)
#it will change the data base index

In [11]:
df
#now in dataframe our index email column

                 first    last
email
sueda@gmail.com  Sueda  Ciftci
edasu@email.com   Jane     ozg
doee@email.com    John     Doe

In [12]:
df.index

Index(['sueda@gmail.com', 'edasu@email.com', 'doee@email.com'], dtype='object', name='email')

In [13]:
df.loc['doee@email.com']

first    John
last      Doe
Name: doee@email.com, dtype: object

In [15]:
#values of specific coloumns
df.loc['doee@email.com', 'last']

'Doe'

In [17]:
df.iloc[0]

first     Sueda
last     Ciftci
Name: sueda@gmail.com, dtype: object

In [18]:
#reset index
df.reset_index(inplace=True)

In [19]:
df

             email  first    last
0  sueda@gmail.com  Sueda  Ciftci
1  edasu@email.com   Jane     ozg
2   doee@email.com   John     Doe