In [12]:
people = {
    "first": ["Sueda", 'Jane', 'John'], 
    "last": ["Ciftci", 'ozg', 'Doe'], 
    "email": ["sueda@gmail.com", 'edasu@email.com', 'doee@email.com']
}

In [13]:
people['email']

['sueda@gmail.com', 'edasu@email.com', 'doee@email.com']

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(people)

In [16]:
df

   first    last            email
0  Sueda  Ciftci  sueda@gmail.com
1   Jane     ozg  edasu@email.com
2   John     Doe   doee@email.com

In [18]:
df['email'] 
#gets column of my dataframe (this returns a series not list)

0    sueda@gmail.com
1    edasu@email.com
2     doee@email.com
Name: email, dtype: object

In [19]:
type(df['email'])
#series are list of data but it has more functionality

pandas.core.series.Series

In [20]:
df[['last', 'email']]

     last            email
0  Ciftci  sueda@gmail.com
1     ozg  edasu@email.com
2     Doe   doee@email.com

In [21]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [34]:
#for rows loc, iloc(int location) using with int, index is collloum name 
df.iloc[0]

first              Sueda
last              Ciftci
email    sueda@gmail.com
Name: 0, dtype: object

In [39]:
df.iloc[[0, 1], [2]]
#rows that we want are first arg, column are second arg

             email
0  sueda@gmail.com
1  edasu@email.com

In [40]:
# loc are looks for labels, labels of ro tha we looking will be index labels
df.loc[0]

first              Sueda
last              Ciftci
email    sueda@gmail.com
Name: 0, dtype: object

In [41]:
df.loc[[0, 1]]

   first    last            email
0  Sueda  Ciftci  sueda@gmail.com
1   Jane     ozg  edasu@email.com

In [45]:
df.loc[[0, 2],['email', 'last']]

             email    last
0  sueda@gmail.com  Ciftci
2   doee@email.com     Doe